@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-vt323);
  --font-mono: var(--font-geist-mono);
  --font-retro: var(--font-vt323);
}

@layer base {
  html {
    --font-vt323: "VT323", monospace;
  }
}